DISCORD_BOT_TOKEN=your_discord_bot_token
DATABASE_URL=mongodb+srv://user:password@cluster.mongodb.net/discord_service
HTTP_PORT=8000
DISCORD_LOG_LEVEL=INFO
ROUTING_SERVICE_URL=http://localhost:9000/events
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:3000
